<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <meta charset="UTF-8">

    {% block titulo%}
    {% endblock %}
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" />
	<link href="http://getbootstrap.com/docs/4.1/examples/carousel/carousel.css" rel="stylesheet">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" ></script>
</head>


<body>
	<nav class="navbar navbar-expand-md fixed-top bg-warning">
		<a class="navbar-brand" href="#">Carousel</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        	<span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
			<ul class="navbar-nav mr-auto">
            	<li class="nav-item active">
		            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        	    </li>
            	<li class="nav-item">
			        <a class="nav-link" href="#">Link</a>
            	</li>
	            <li class="nav-item">
    		        <a class="nav-link disabled" href="#">Disabled</a>
            	</li>
	          </ul>
    	      <form class="form-inline mt-2 mt-md-0">
        		  <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
		          <button class="btn btn-outline-dark my-2 my-sm-0" type="submit">Search</button>
        	  </form>
	        </div>
    </nav>
    {% block contenido %}
    {% endblock %}

	<hr class="divider">
	<footer class="pt-3 my-md-3 pt-md-3">
		 <div class="container">
			 <div class="card-deck mb-4">
	    	     <div class="card mb-3 shadow-sm">
     	    		 <div class="card-header">
						<h4 class="my-0 font-weight-normal"><a href="//www.olx.com.ar/autos-motos-y-barcos-cat-362">Vehículos</a></h4>
          			 </div>
			          <div class="card-body">
			              <ul class="list-unstyled mt-3 mb-4">
							  <li>
								  <a href="//www.olx.com.ar/accesorios-autos-cat-377">Accesorios para Autos</a>
							  </li>
							  <li>
								  <a href="//www.olx.com.ar/autos-cat-378">Autos</a>
							  </li>
							  <li>
								  <a href="//www.olx.com.ar/motocicletas-scooters-cat-379">Motos</a>
							  </li>
							  <li>
								  <a href="//www.olx.com.ar/otros-vehiculos-cat-380">Otros Vehículos</a>
							  </li>
							  <li>
								  <a href="//www.olx.com.ar/camiones-vehiculos-comerciales-cat-416">Camiones - Vehículos Comerciales</a>
							  </li>
						  </ul>
			          </div>
			     </div>
                 <div class="card mb-3 shadow-sm">
     	    		 <div class="card-header">
						<h4 class="my-0 font-weight-normal"><a href="//www.olx.com.ar/inmuebles-y-propiedades-cat-16" data-l1-id='16' data-action-track-l1>Propiedades - Inmuebles</a></h4>
          			 </div>
			          <div class="card-body">
			              <ul class="list-unstyled mt-3 mb-4">
							 <li>
                                 <a href="//www.olx.com.ar/departamentos-casas-venta-cat-367">Departamentos - Casas - VENTA </a>
                             </li>
                            <li>
                                <a href="//www.olx.com.ar/departamentos-casas-alquiler-cat-363">Departamentos - Casas - ALQUILER</a>
                            </li>
                            <li class="subcategory">
                                <a href="//www.olx.com.ar/alojamiento-vacacional-alquiler-cat-388">Alojamiento vacacional - ALQUILER</a>
                            </li>
                            <li>
                                <a href="//www.olx.com.ar/inmuebles-comerciales-venta-cat-368">Inmuebles comerciales - VENTA</a>
                            </li>
                            <li>
                                <a href="//www.olx.com.ar/inmuebles-comerciales-alquiler-cat-1012">Inmuebles comerciales - ALQUILER</a>
                            </li>
                            <li>
                                <a href="//www.olx.com.ar/estacionamiento-cocheras-venta-cat-302">Estacionamiento - Cocheras - VENTA</a>
                            </li>
                            <li>
                                <a href="//www.olx.com.ar/estacionamiento-cocheras-alquiler-cat-1063">Estacionamiento - Cocheras - ALQUILER</a>
                            </li>
                            <li>
                                <a href="//www.olx.com.ar/terrenos-venta-cat-410">Terrenos - VENTA</a>
                            </li>
                            <li>
                                <a href="//www.olx.com.ar/emprendimientos-cat-1072">Emprendimientos - VENTA</a>
                            </li>
						  </ul>
			          </div>
			     </div>
                 <div class="card mb-3 shadow-sm">
     	    		 <div class="card-header">
						<h4 class="my-0 font-weight-normal"><a href="//www.olx.com.ar/inmuebles-y-propiedades-cat-16" data-l1-id='16' data-action-track-l1>Servicios</a></h4>
          			 </div>
			          <div class="card-body">
			              <ul class="list-unstyled mt-3 mb-4">
							<li>
                                    <a href="//www.olx.com.ar/otros-servicios-cat-207">Otros Servicios</a>
                                </li>
                                <li>
                                    <a href="//www.olx.com.ar/clases-cursos-cat-646">Clases - Cursos</a>
                                </li>
                                <li>
                                    <a href="//www.olx.com.ar/reparacion-cat-198">Reparaciones - Técnicos</a>
                                </li>
                                <li>
                                    <a href="//www.olx.com.ar/planeamiento-de-eventos-cat-324">Organización de eventos</a>
                                </li>
                                <li>
                                    <a href="//www.olx.com.ar/transporte-mudanzas-cat-371">Transporte - Mudanzas</a>
                                </li>
                                <li>
                                    <a href="//www.olx.com.ar/servicio-domestico-cat-414">Servicio Doméstico - Limpieza</a>
                                </li>
                                <li>
                                    <a href="//www.olx.com.ar/turismo-cat-1074">Turismo - Paquetes turísticos</a>
                                </li>
						  </ul>
			          </div>
			     </div>
                 <div class="card mb-3 shadow-sm">
     	    		 <div class="card-header">
						<h4 class="my-0 font-weight-normal"><a href="//www.olx.com.ar/inmuebles-y-propiedades-cat-16" data-l1-id='16' data-action-track-l1>Electronica</a></h4>
          			 </div>
			          <div class="card-body">
			              <ul class="list-unstyled mt-3 mb-4">
							<li>
                                <a href="//www.olx.com.ar/tv-audio-video-cat-805">TV - Audio - Video</a>
                            </li>
                              <li>
                                  <a href="//www.olx.com.ar/computadoras-notebooks-cat-803">Computadoras - Notebooks</a>
                              </li>
                              <li>
                                  <a href="//www.olx.com.ar/videojuegos-consolas-cat-802">Videojuegos - Consolas</a>
                              </li>
                              <li>
                                  <a href="//www.olx.com.ar/camaras-accesorios-cat-804">Cámaras y accesorios</a>
                              </li>
						  </ul>
			          </div>
			     </div>
                 <div class="card mb-3 shadow-sm">
     	    		 <div class="card-header">
						<h4 class="my-0 font-weight-normal"><a href="//www.olx.com.ar/inmuebles-y-propiedades-cat-16" data-l1-id='16' data-action-track-l1>Teléfonos - Tablet</a></h4>
          			 </div>
			          <div class="card-body">
			              <ul class="list-unstyled mt-3 mb-4">
							<li>
                                <a href="//www.olx.com.ar/celulares-telefonos-cat-831">Celulares - Teléfonos</a>
                            </li>
                              <li>
                                  <a href="//www.olx.com.ar/accesorios-celulares-cat-832">Accesorios para celulares</a>
                              </li>
                              <li>
                                  <a href="//www.olx.com.ar/tablets-cat-857">Tablets</a>
                              </li>
						  </ul>
			          </div>
			     </div>
			 </div>
		 </div>
		 <div class="container">
			<div class="card-deck mb-3">
				<div class="card mb-3 shadow-sm">
     	    		 <div class="card-header">
						<h4 class="my-0 font-weight-normal"><a href="//www.olx.com.ar/inmuebles-y-propiedades-cat-16" data-l1-id='16' data-action-track-l1>Hogar - Muebles - Jardín</a></h4>
          			 </div>
			          <div class="card-body">
			              <ul class="list-unstyled mt-3 mb-4">
                              <li>
                                  <a href="//www.olx.com.ar/muebles-cat-807">Muebles</a>
                              </li>
                              <li>
                                  <a href="//www.olx.com.ar/decoracion-jardin-accesorios-cat-867">Decoración - Jardín - Accesorios</a>
                              </li>
                              <li>
                                  <a href="//www.olx.com.ar/electrodomesticos-cat-808">Electrodomésticos</a>
                              </li>
						  </ul>
			          </div>
			     </div>
                 <div class="card mb-3 shadow-sm">
     	    		 <div class="card-header">
						<h4 class="my-0 font-weight-normal"><a href="//www.olx.com.ar/inmuebles-y-propiedades-cat-16" data-l1-id='16' data-action-track-l1>Electronica</a></h4>
          			 </div>
			          <div class="card-body">
			              <ul class="list-unstyled mt-3 mb-4">
							<li>
                                <a href="//www.olx.com.ar/bicicletas-ciclismo-cat-882">Bicicletas y Ciclismo</a>
                            </li>
                              <li>
                                  <a href="//www.olx.com.ar/otros-deportes-cat-885">Otros Deportes</a>
                              </li>
                              <li>
                              <a href="//www.olx.com.ar/futbol-cat-934">Fútbol</a>
                              </li>
                              <li>
                                  <a href="//www.olx.com.ar/aerobics-fitness-cat-883">Aerobics y Fitness</a>
                              </li>
                              <li>
                                  <a href="//www.olx.com.ar/camping-pesca-cat-884">Camping y Pesca</a>
                              </li>
                              <li>
                                  <a href="//www.olx.com.ar/deportes-extremos-acuaticos-cat-908">Deportes Acuáticos y Extremos</a>
                              </li>
						  </ul>
			          </div>
			     </div>
                 <div class="card mb-3 shadow-sm">
     	    		 <div class="card-header">
						<h4 class="my-0 font-weight-normal"><a href="//www.olx.com.ar/inmuebles-y-propiedades-cat-16" data-l1-id='16' data-action-track-l1>Moda y Belleza</a></h4>
          			 </div>
			          <div class="card-body">
			              <ul class="list-unstyled mt-3 mb-4">
							  <li>
								  <a href="//www.olx.com.ar/ropa-calzado-cat-817">Ropa y Calzado</a>
							  </li>
							  <li>
								  <a href="//www.olx.com.ar/relojes-joyas-accesorios-cat-818">Relojes - Joyas - Accesorios</a>
							  </li>
							  <li>
								  <a href="//www.olx.com.ar/salud-belleza-cat-816">Salud y Belleza</a>
							  </li>
						  </ul>
			          </div>
			     </div>
                 <div class="card mb-3 shadow-sm">
     	    		 <div class="card-header">
						<h4 class="my-0 font-weight-normal"><a href="//www.olx.com.ar/inmuebles-y-propiedades-cat-16" data-l1-id='16' data-action-track-l1>Bebés y Niños</a></h4>
          			 </div>
			          <div class="card-body">
			              <ul class="list-unstyled mt-3 mb-4">
							  <li>
								  <a href="//www.olx.com.ar/ropa-bebes-ninos-cat-855">Ropa para Bebés y Niños</a>
							  </li>
							  <li>
								  <a href="//www.olx.com.ar/cunas-cochecitos-accesorios-cat-856">Cunas - Cochecitos - Accesorios</a>
							  </li>
							  <li>
								  <a href="//www.olx.com.ar/juegos-juguetes-cat-854">Juegos y Juguetes</a>
							  </li>
						  </ul>
			          </div>
			     </div>
                 <div class="card mb-3 shadow-sm">
     	    		 <div class="card-header">
						<h4 class="my-0 font-weight-normal"><a href="//www.olx.com.ar/inmuebles-y-propiedades-cat-16" data-l1-id='16' data-action-track-l1>Hobbies, Música, Arte y Libros</a></h4>
          			 </div>
			          <div class="card-body">
			              <ul class="list-unstyled mt-3 mb-4">
							  <li>
								  <a href="//www.olx.com.ar/libros-revistas-cat-860">Libros y Revistas</a>
							  </li>
							  <li>
								  <a href="//www.olx.com.ar/arte-antiguedades-cat-862">Arte - Antigüedades</a>
							  </li>
							  <li>
								  <a href="//www.olx.com.ar/instrumentos-musicales-cat-861">Instrumentos Musicales</a>
							  </li>
							  <li>
								  <a href="//www.olx.com.ar/cd-dvd-cat-890">CDs - DVDs</a>
							  </li>
						  </ul>
			          </div>
			     </div>
			</div>
		 </div>
		 <div class="container">
			 <div class="card-deck mb-3">
				 <div class="card mb-3 shadow-sm">
     	    		 <div class="card-header">
						<h4 class="my-0 font-weight-normal"><a href="//www.olx.com.ar/inmuebles-y-propiedades-cat-16" data-l1-id='16' data-action-track-l1>Animales y Mascotas</a></h4>
          			 </div>
			          <div class="card-body">
			              <ul class="list-unstyled mt-3 mb-4">
							  <li>
								  <a href="//www.olx.com.ar/perros-gatos-cat-812">Perros - Gatos</a>
							  </li>
							  <li>
								  <a href="//www.olx.com.ar/accesorios-mascotas-cat-814">Accesorios para Mascotas</a>
							  </li>
							  <li>
								  <a href="//www.olx.com.ar/otros-animales-cat-813">Otros Animales</a>
							  </li>
						  </ul>
			          </div>
			     </div>
                 <div class="card mb-3 shadow-sm">
     	    		 <div class="card-header">
						<h4 class="my-0 font-weight-normal"><a href="//www.olx.com.ar/inmuebles-y-propiedades-cat-16" data-l1-id='16' data-action-track-l1>Herramientas, Industria y Oficina</a></h4>
          			 </div>
			          <div class="card-body">
			              <ul class="list-unstyled mt-3 mb-4">
							  <li>
								  <a href="//www.olx.com.ar/herramientas-cat-941">Herramientas</a>
							  </li>
							  <li>
								  <a href="//www.olx.com.ar/industria-cat-939">Industria</a>
							  </li>
							  <li>
								  <a href="//www.olx.com.ar/muebles-negocios-oficinas-cat-940">Muebles para Negocios y Oficinas</a>
							  </li>
						  </ul>
			          </div>
			     </div>
                 <div class="card mb-3 shadow-sm">
     	    		 <div class="card-header">
						<h4 class="my-0 font-weight-normal"><a href="//www.olx.com.ar/inmuebles-y-propiedades-cat-16" data-l1-id='16' data-action-track-l1>Trabajo y Empleo</a></h4>
          			 </div>
			          <div class="card-body">
			              <ul class="list-unstyled mt-3 mb-4">
							  <li>
								  <a href="//www.olx.com.ar/ofertas-trabajo-ofrecido-cat-822">Ofertas de Trabajo</a>
							  </li>
							  <li>
								  <a href="//www.olx.com.ar/busqueda-trabajo-cvs-cat-823">Búsqueda de Trabajo - CVs</a>
							  </li>
						  </ul>
			          </div>
			     </div>
			 </div>
		 </div>



      </footer>


    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


</body>
</html>