{% extends 'base/base.html' %}


{% block titulo %}
<title>Personas</title>
{% endblock %}

{% block contenido %}
<br>

<div class="col-sm-5 col-md-5">
    <div>
        {% if session['id_update']: %}
        <h3 class="header">Modificar Usuario</h3>
        {% elif session['id_delete']: %}
        <h3 class="header">Eliminar Usuario</h3>
        {% else %}
        <h3 class="header">Nuevo Usuario</h3>
        {% endif %}
    </div>
    <form role="form" action="mapUser" method="post" id="formUser" name="formUser">
        <div class="form-group">
            <label>Nombre</label>
            <input type="text" id="nombre" name="nombre" class="form-control" {% if usu %} value="{{ usu.Nombre }}"  {% endif %} {% if 'id_delete' in session %} disabled {% endif %} required>
        </div>
        <div class="form-group">
            <label>Apellido</label>
            <input type="text" id="apellido" name="apellido" class="form-control" {% if usu %} value="{{ usu.Apellido }}" {% endif %} {% if 'id_delete' in session %} disabled {% endif %} required>
        </div>
        <div class="form-group">
            <label>DNI</label>
            <input type="number" id="dni" name="dni" class="form-control"  {% if usu %} value="{{ usu.DNI }}" {% endif %} {% if 'id_delete' in session %} disabled {% endif %} required>
        </div>
        <div class="form-group">
            <label>Fecha de Nacimiento</label>
            <input type="date" id="fecha" name="fecha" class="form-control" {% if usu %} value="{{ usu.FechaNacimiento }}" {% endif %} {% if 'id_delete' in session %} disabled {% endif %} required>
        </div>
        <div class="form-group">
            <label>Nombre Usuario</label>
            <input type="text" id="user" name="user" class="form-control" {% if usu %} value="{{ usu.NombreUsuario }}" {% endif %} {% if 'id_delete' in session %} disabled {% endif %} required>
        </div>
        <div class="form-group">
            <label>Email</label>
            <input type="email" id="email" name="email" class="form-control" {% if usu %} value="{{ usu.Email }}" {% endif %} {% if 'id_delete' in session %} disabled {% endif %} required>
        </div>
        {% if 'id_delete' not in session %}
        <div class="form-group">
            <label>Contraseña</label>
            <input type="password" id="pass" name="pass" class="form-control"  required>
        </div>
        {% endif %}
        <div form-group>
            <label>Perfil</label>
            <select class="form-control" id="perfil" name="perfil">
                <option value="0">Seleccionar Perfil</option>
                {% for prof in profiles %}
                <option value="{{ prof.ID }}"{% if usu %} {% if usu.IdPerfil == prof.ID %} selected {% endif %} {% endif%} >{{ prof.Nombre }}</option>
                {% endfor %}
            </select>
        </div>
        <br>
        <div class="form-group" style="text-align: center">
            {% if session['id_update']: %}
            <button class="btn btn-success btn-md" type="submit">Modificar</button>
            {% elif session['id_delete']: %}
            <button class="btn btn-delete btn-md" type="submit">Eliminar</button>
            {% else %}
            <button class="btn btn-success btn-md" type="submit">Confirmar</button>
            {% endif %}
            <a class="btn btn-primary btn-md" href="crudUsuarios">Limpiar</a>
        </div>
    </form>
</div>

<br>
    <table class="table table-hover">
		<thead>
			<th>Nombre</th>
			<th>Apellido</th>
			<th>Nombre de Usuario</th>
            <th>Perfil</th>
			<th>Fecha de Nacimiento</th>
			<th>DNI</th>
			<th></th>
			<th></th>
		</thead>
        {% for usuario in usuarios %}

        <td>{{ usuario.Nombre }}</td>
        <td>{{ usuario.Apellido }}</td>
        <td>{{ usuario.NombreUsuario }}</td>
        <td>{{ usuario.GetPerfil() }}</td>
        <td>{{ usuario.FechaNacimiento }}</td>
        <td>{{ usuario.DNI }}</td>
        <td></td>
			<form role="form" action="recupera" method="post" id="botonera" name="botonera">
				<td style="vertical-align: middle">
					<input type="hidden" name="idSelect" id="idSelect" value="{{ usuario.ID }}" />
					<input class="btn btn-success btn-sm" type="submit" value="Modificar" id="modif" name="event" />
					<input class="btn btn-danger btn-sm" type="submit" value="Eliminar" id="delet" name="event" />
				</td>
			</form>
		</tr>
        {% endfor %}
    </table>







<!--
<h3>Persona</h3>
<br>

<form id="formAlta" action="altaPersona" method="POST">
<fieldset>
<legend>Nuevo Usuario</legend>
	<div>
        <label>Nombre:</label>
        <input type="text" class="form-control"  name="nombre" id="nombre" required=""/>
    </div>
    <div>
        <label>DNI:</label>
        <input type="text" name="dni" id="dni" class="form-control"  required=""/>
    </div>
    <div>
        <label>Fecha de Nacimiento:</label>
        <input type="date" name="fecha" id="fecha" class="form-control"  required=""/>
    </div>
    <div>
        <label>Altura:</label>
        <input type="text" name="altura" id="altura" class="form-control"  required=""/>
    </div>
    <div class="botones" ><input type="submit" name="enviar" id="Enviar" value="Enviar" />
        <input type="reset" name="borrar" id="borrar" value="Borrar" /></div>
    <div class="botones" ><a id="Registrarse" href="/">Volver</a></div>

</fieldset>
</form>
-->
{% endblock %}