{% extends 'base/base.html' %}

{% block titulo %}
<title>Géneros</title>
{% endblock %}

{% block contenido %}
    <div class="container">
        {% if session['Modificar']: %}
        <h3 class="header">Modificar Género</h3>
        {% elif session['Eliminar']: %}
        <h3 class="header">Eliminar Género</h3>
        {% else %}
        <h3 class="header">Nuevo Género</h3>
        {% endif %}

        <form class="needs-validation" method="post" action="mapGenero" novalidate>
            <div class="mb-3">
                <label>Id Artista</label>
                <input type="text" class="form-control" name="idGenero" id="idGenero" {% if genero %} value="{{ genero.id_genero }}"  {% endif %} {% if 'Eliminar' in session %} disabled {% endif %}  readonly>
            </div>

            <div class="mb-3">
                <label>Nombre de Género</label>
                <input type="text" class="form-control" name="nombreGenero" id="nombreGenero" required {% if genero %} required value="{{ genero.desc_genero }}"  {% endif %} {% if 'Eliminar' in session %} disabled readonly {% endif %} >
                <div class="invalid-feedback">
                    Ingrese Nombre de Género.
                </div>
            </div>

            <div align="center">
                {% if session['Modificar']: %}
                <input class="btn btn-success" type="submit" value="Modificar" id="event" name="event" />
                {% elif session['Eliminar']: %}
                <input class="btn btn-danger" type="submit" value="Eliminar" id="event" name="event" />
                {% else %}
                <input class="btn btn-success" type="submit" value="Guardar" id="event" name="event" />
                {% endif %}
                <a class="btn btn-primary" href="/generos">Cancelar</a>
            </div>
        </form>

<br>

    <table class="table table-hover" align="center">
        <thead>
            <th>Id</th>
            <th>Nombre</th>
            <th>Habilitado</th>
            <th></th>
        </thead>
        {% if generos %}
        {% for genero in generos %}
        <tr>
            <td>{{ genero.id_genero }}</td>
            <td>{{ genero.desc_genero }}</td>
            <td><input type="checkbox" readonly disabled {% if genero.habilitado == True %} checked {% endif %}></td>
            <form role="form" action="recuperaGenero" method="post" id="botonera" name="botonera">
                <td style="vertical-align: middle">
                    <input type="hidden" name="idSelect" id="idSelect" value="{{ genero.id_genero }}" />
                    <input class="btn btn-success btn-sm" type="submit" value="Modificar" id="event" name="event" />
                    <input class="btn btn-danger btn-sm" type="submit" value="Deshabilitar" id="event" name="event" {% if genero.habilitado == False %} disabled {% endif %} />
                    <input class="btn btn-primary btn-sm" type="submit" value="Habilitar" id="event" name="event" {% if genero.habilitado == True %} disabled {% endif %} />
                </td>
            </form>
        </tr>
        {% endfor %}
        {% endif %}

</table>
    </div>
    <script>
        // Example starter JavaScript for disabling form submissions if there are invalid fields
        (function() {
            'use strict';
            window.addEventListener('load', function() {
                // Fetch all the forms we want to apply custom Bootstrap validation styles to
                var forms = document.getElementsByClassName('needs-validation');

                // Loop over them and prevent submission
                var validation = Array.prototype.filter.call(forms, function(form) {
                    form.addEventListener('submit', function(event) {
                        if (form.checkValidity() === false) {
                            event.preventDefault();
                            event.stopPropagation();
                        }
                        form.classList.add('was-validated');
                    }, false);
                });
            }, false);
        })();
    </script>

{% endblock %}


